@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-bg{
    background: rgb(217, 212, 212);
    width: 350px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 30px;
    float: right;
}

.scroll-div{
    width:340px;
    background: rgb(217, 212, 212);
    height: 600px;
    overflow: hidden;
    overflow-y: scroll;
}

.scroll-obj{
    color: black;
    font-size: 20px;
    padding: 10px;
}

.padding {
    padding: calc(8px + 1.5625vw);
}